<template>
    <FlowchartEditor></FlowchartEditor>
    <!-- <div id="app">
        <h1>HelloWorld</h1>
        <router-view />
    </div> -->

</template>

<script>
import FlowchartEditor from "./components/FlowchartEditor/Index";
export default {
    name: "App",
    components: {
        FlowchartEditor
    },
    created() {
        // 阻止浏览器默认右键菜单
        document.oncontextmenu = function(event) {
            if (event.stopPropagation) {
                event.stopPropagation();
            }
            if (event.preventDefault) {
                event.preventDefault();
            }
        };
    }
};
</script>

<style>
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
